* {
    margin: 0;
    padding: 0;
    line-height: 20px;
}

body {
    background-color: #fff;
    color: #2d2e2e;
    font-size: 11px;
    line-height: 14px;
    margin: 0 0 0 0;
    width: 880px;
    height: 680px;
    font-family: Verdana;
}

.backgroundLogo {
    background-image: url(images/senkapozadina1.gif);
    width: 880px;
    height: 100px;
    margin-left: 260px;
    /* margin-top: 27px;*/
}

.logoPicture {
    background-image: url(images/logos/KB-logo-up_mk.gif);
    height: 50px;
    width: 375px;
    margin-left: 280px;
    background-position: center;
    margin-top: -80px;
    margin-bottom: 30px;
}

.navigation {
    background-image: url(images/background.png);
    width: 880px;
    height: 450px;
    margin-left: 260px;
}

.mainMenu h3:hover, .introduction h3:hover, .conditions h3:hover, .instalation h3:hover, .contact h3:hover, .safety h3:hover {
    border: 1px solid white;
    background-color: white;
    color: green;
}

.extraDiv {
    background-image: url(images/MenuUp.png);
    width: 880px;
    height: 25px;
    margin-top: -548px;
    margin-left: 260px;

}

#tabs {
    background-image: url(images/MenuBottom5.png);
    width: 880px;
    height: 25px;
    margin-top: 50px;
}

.conditions h3, .safety h3 {
    display: inline;
    float: left;
    margin-top: -18px;
    color: whitesmoke;
    overflow: hidden;
    width: 130px;
    margin-left: 5px;
    margin-right: 10px;
    text-align: center;
}

.introduction h3, .instalation h3, .mainMenu h3, .contact h3 {
    display: inline;
    float: left;
    margin-top: -12px;
    color: whitesmoke;
    overflow: hidden;
    width: 130px;
    margin-left: 5px;
    margin-right: 10px;
    text-align: center;
}

.subParagraphs {
    float: left;
    margin: 20px;
    margin-left: 580px;
    margin-top: 30px;
    color: darkblue;
    position: absolute;
    background: white;
}

.subParagraphs p {
    padding: 3px;
    margin-top: 5px;
    position: relative;
    border: 1px solid black;
    font-weight: bold;
    background: #ededff;
    z-index: 9999;
}

.subParagraphs p:hover {
    color: green;
    position: relative;
}

.cell {
    background-image: url(images/resized.png);
    width: 450px;
    height: 450px;
    float: left;
    margin-left: 230px;
    margin-top: -430px;
}

.text {
    width: 500px;
    height: 500px;
    float: right;
    font-size: 30px;
    margin-top: -270px;
    text-align: center;
    margin-right: -200px;
    padding: 10px;
    line-height: 30px;
}

.line {
    background-image: url(images/lenta-web.jpg);
    width: 880px;
    height: 24px;
    margin-top: 0px;
    margin-left: 260px;
    position: relative;
    z-index: -1;
}

.logoFooter {
    background-image: url(images/logos/KB-logo-down_mk.gif);
    width: 174px;
    height: 30px;
    margin-left: 260px;
    margin-top: 20px;
    position: relative;
    z-index: -1;
}

.intro h2, .conds h2, .insta h2, .safe h2, .aboutUs h2 {
    color: green;
    margin-bottom: 20px;
    margin-top: -300px;
    margin-left: 570px;
    width: 600px;
}

.intro p, .conds p, .insta p, .safe p {
    width: 500px;
    margin-left: 580px;
    padding: 3px;
    text-indent: 10px;
}

.intro, .conds, .insta, .safe, .aboutUs {
    margin-top: -380px;
}

.intro, .insta {
    height: 380px;
    text-align: justify;
    width: 600px;
}

.conds, .safe, .aboutUs, .menu, .bancomats, .network, .currency, .creditCards, .notifications, .myTrans, .devizniSmetki {
    height: 380px;
}

.intro ul {
    width: 480px;
    margin-left: 650px;
    padding: 5px;
    line-height: 20px;
}

.conds ul, .safe ul, .list ul {
    width: 500px;
    margin-left: 630px;
    padding: 5px;
    line-height: 20px;
}

.bancomats, .network, .currency, .creditCards, .notifications, .myTrans, .devizniSmetki {
    margin-top: -381px;
    position: relative;
    z-index: 1;
}

.network h2 {
    color: green;
    margin-left: 320px;
    margin-bottom: 20px;
}

.bancomats h2, .currency h2 , .creditCards h2, .notifications h2, .myTrans h2, .devizniSmetki h2{
    color: green;
    margin-bottom: 20px;
    margin-top: -330px;
    margin-left: 320px;
    width: 600px;
    z-index: 1;
    position: relative;
}

.bancomats p, .network p, .currency p, .creditCards p, .myTrans p, .devizniSmetki p{
    width: 450px;
    margin-left: 340px;
    padding: 3px;
    text-indent: 10px;
    text-align: justify;
    z-index: 1;
    position: relative;
}

.notifications ul, .devizniSmetki ul {
    width: 450px;
    margin-left: 340px;
    padding: 3px;
    text-indent: 10px;
    z-index: 1;
    position: relative;
}

.aboutUs p {
    text-align: center;
    width: 500px;
    margin-left: 580px;
    padding: 3px;
    text-indent: 10px;
    font-weight: bold;
}

.aboutUs h2 {
    margin-bottom: 60px;
}

.extraDiv2 {
    background-image: url(images/background.png);
    height: 740px;
    width: 880px;
    margin-top: 24px;
    margin-left: 260px;
    position: relative;
    z-index: -1;
}

.extraDiv3 {
    background-image: url(images/lenta-web.jpg);
    width: 880px;
    height: 24px;
    margin-left: 260px;
}

.extraDiv4 {
    background-image: url(images/logos/KB-logo-down_mk.gif);
    width: 174px;
    height: 30px;
    margin-left: 260px;
}

.phone2 {
    background-image: url(images/phone2.png);
    width: 450px;
    height: 450px;
    float: right;
    margin-top: -270px;
    margin-right: -330px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone3 {
    background-image: url(images/phone3.png);
    width: 450px;
    height: 450px;
    float: right;
    margin-right: -330px;
    margin-top: -270px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone4 {
    background-image: url(images/phone4.png);
    width: 450px;
    height: 450px;
    margin-left: 730px;
    margin-top: -150px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone5 {
    background-image: url(images/phone5.png);
    width: 450px;
    height: 450px;
    margin-left: 730px;
    margin-top: -260px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone6 {
    background-image: url(images/phone6.png);
    width: 450px;
    height: 450px;
    margin-left: 730px;
    margin-top: -280px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone7 {
    background-image: url(images/phone7.png);
    width: 450px;
    height: 450px;
    margin-left: 730px;
    margin-top: -200px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone8 {
    background-image: url(images/phone8.png);
    width: 450px;
    height: 450px;
    margin-left: 730px;
    margin-top: -395px;
    z-index: -1;
    position: relative;
    display: block;
}