* {
    margin: 0;
    padding: 0;
    line-height: 20px;
}

body {
    background-color: #fff;
    color: #2d2e2e;
    font-size: 11px;
    line-height: 14px;
    margin: 0 0 0 0;
    width: 880px;
    height: 680px;
    font-family: Verdana;
}

.backgroundLogo {
    background-image: url(images/senkapozadina1.gif);
    width: 880px;
    height: 100px;
    margin-left: 260px;
    /* margin-top: 27px;*/
}

.logoPicture {
    background-image: url(images/logos/KB-logo-up_mk.gif);
    height: 50px;
    width: 375px;
    margin-left: 280px;
    background-position: center;
    margin-top: -80px;
    margin-bottom: 30px;
}

.pageBackground {
    background-image: url(images/background.png);
    width: 880px;
    height: 450px;
    margin-left: 260px;
}

.navigationTable {
    background: rgb(134, 189, 85);
    width: 880px;
    height: 17px;
    color: white;
}

.navigationTable td {
    column-width: 150px;
    text-align: center;
}

.mainMenu h3:hover, .introduction h3:hover, .conditions h3:hover, .instalation h3:hover, .contact h3:hover, .safety h3:hover {
    /*border: 1px solid white;*/
    /*background-color: white;*/
    /*color: green;*/
    background-color: white;
    color: green;
}

.tabs {
    width: 880px;
}

.subParagraphs {
    color: darkblue;
    position: absolute;
    margin-left: -40px;
}

.subParagraphs p {
    width: 180px;
    position: relative;
    border: 1px solid lightgray;
    font-weight: bold;
    background: #ededff;
    z-index: 9999;
    text-align: left;
}

.subParagraphs p:hover {
    color: green;
    position: relative;
}

.cell {
    background-image: url(images/resized.png);
    width: 450px;
    height: 450px;
    float: left;
    margin-left: 230px;
    margin-top: -430px;
}

.text {
    width: 500px;
    height: 500px;
    float: right;
    font-size: 30px;
    margin-top: -270px;
    text-align: center;
    margin-right: -200px;
    padding: 10px;
    line-height: 30px;
    color: green;
}

.line {
    background-image: url(images/lenta-web.jpg);
    width: 880px;
    height: 24px;
    margin-top: 0px;
    margin-left: 260px;
    position: relative;
    z-index: -1;
}

.logoFooter {
    background-image: url(images/logos/KB-logo-down_mk.gif);
    width: 174px;
    height: 30px;
    margin-left: 260px;
    margin-top: 20px;
    position: relative;
    z-index: -1;
}

.intro h2, .conds h2, .insta h2, .safe h2, .aboutUs h2 {
    color: green;
    margin-bottom: 20px;
    margin-top: -300px;
    margin-left: 570px;
    width: 600px;
}

.intro p, .conds p, .insta p, .safe p {
    width: 500px;
    margin-left: 580px;
    padding: 3px;
    text-indent: 10px;
}

.intro, .conds, .insta, .safe, .aboutUs {
    margin-top: -380px;
}

.intro, .insta {
    height: 380px;
    text-align: justify;
    width: 600px;
}

.conds, .safe, .aboutUs, .menu, .bancomats, .network, .currency, .creditCards, .notifications, .myTrans, .devizniSmetki,
.tekovniSmetki, .kreditniKartichki, .denarskiKniski, .devizniKniski, .credit, .limitCards, .limitDevices, .leftMenu, .myData,
.activation {
    height: 380px;
}

.intro ul {
    width: 480px;
    margin-left: 650px;
    padding: 5px;
    line-height: 20px;
}

.conds ul, .safe ul, .list ul {
    width: 500px;
    margin-left: 630px;
    padding: 5px;
    line-height: 20px;
}

.bancomats, .network, .currency, .creditCards, .notifications, .myTrans, .devizniSmetki, .tekovniSmetki,
.kreditniKartichki, .denarskiKniski, .devizniKniski, .credit, .limitCards, .limitDevices, .leftMenu, .myData, .activation{
    margin-top: -381px;
    position: relative;
    z-index: 1;
}

.network h2 {
    color: green;
    margin-left: 320px;
    margin-bottom: 20px;
}

.bancomats h2, .currency h2, .creditCards h2, .notifications h2, .myTrans h2, .devizniSmetki h2,
.tekovniSmetki h2, .kreditniKartichki h2, .denarskiKniski h2, .devizniKniski h2, .credit h2, .limitCards h2, .limitDevices h2,
.leftMenu h2, .myData h2, .activation h2{
    color: green;
    margin-bottom: 20px;
    margin-top: -330px;
    margin-left: 320px;
    width: 600px;
    z-index: 1;
    position: relative;
}

.tekovniSmetki h3 {
    margin-left: 320px;
    margin-top: 10px;
    width: 600px;
    z-index: 1;
    position: relative;
}

.tekovniSmetki ul li, .kreditniKartichki ul li {
    margin-left: 70px;
    margin-top: -5px;
}

.leftMenu ul li {
    margin-left: 30px;
    width: 500px;
}

.bancomats p, .network p, .currency p, .creditCards p, .myTrans p, .devizniSmetki p, .tekovniSmetki p, .kreditniKartichki p,
.denarskiKniski p, .devizniKniski p, .credit p, .limitCards p, .limitDevices p, .leftMenu p, .myData p, .activation p{
    width: 450px;
    margin-left: 340px;
    padding: 3px;
    text-indent: 10px;
    text-align: justify;
    z-index: 1;
    position: relative;
}

.notifications ul, .devizniSmetki ul, .tekovniSmetki ul, .kreditniKartichki ul, .leftMenu ul, .activation ol {
    width: 450px;
    margin-left: 340px;
    padding: 3px;
    text-indent: 10px;
    z-index: 1;
    position: relative;
}

.activation ol li {
    margin-left: 50px;
}

.aboutUs p {
    text-align: center;
    width: 500px;
    margin-left: 580px;
    padding: 3px;
    text-indent: 10px;
    font-weight: bold;
}

.aboutUs h2 {
    margin-bottom: 60px;
}

.extraDiv2 {
    background-image: url(images/background.png);
    height: 740px;
    width: 880px;
    margin-left: 260px;
    position: relative;
    z-index: -1;
    margin-top: -480px;
}

.extraDiv3 {
    background-image: url(images/lenta-web.jpg);
    width: 880px;
    height: 24px;
    margin-left: 260px;
}

.extraDiv4 {
    background-image: url(images/logos/KB-logo-down_mk.gif);
    width: 174px;
    height: 30px;
    margin-left: 260px;
}

.phone2 {
    background-image: url(images/phone2.png);
    width: 450px;
    height: 450px;
    float: right;
    margin-top: -270px;
    margin-right: -330px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone3 {
    background-image: url(images/phone3.png);
    width: 450px;
    height: 450px;
    float: right;
    margin-right: -330px;
    margin-top: -270px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone4 {
    background-image: url(images/phone4.png);
    width: 450px;
    height: 450px;
    margin-left: 730px;
    margin-top: -150px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone5 {
    background-image: url(images/phone5.png);
    width: 450px;
    height: 450px;
    margin-left: 730px;
    margin-top: -260px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone6 {
    background-image: url(images/phone6.png);
    width: 450px;
    height: 450px;
    margin-left: 730px;
    margin-top: -280px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone7 {
    background-image: url(images/phone7.png);
    width: 450px;
    height: 450px;
    margin-left: 730px;
    margin-top: -200px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone8 {
    background-image: url(images/phone8.png);
    width: 450px;
    height: 450px;
    margin-left: 730px;
    margin-top: -395px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone9 {
    background-image: url(images/phone9.png);
    width: 450px;
    height: 450px;
    margin-left: 730px;
    margin-top: -780px;
    margin-bottom: 370px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone10 {
    background-image: url(images/phone10.png);
    width: 450px;
    height: 450px;
    margin-left: 730px;
    margin-top: -450px;
    margin-bottom: 400px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone11 {
    background-image: url(images/phone11.png);
    width: 400px;
    height: 400px;
    margin-left: 250px;
    margin-top: -680px;
    z-index: -1;
    position: relative;
    display: block;
    float: left;
}

.phone12 {
    background-image: url(images/phone12.png);
    width: 400px;
    height: 400px;
    margin-left: 250px;
    margin-top: -350px;
    z-index: -1;
    position: relative;
    display: block;
    float: left;
}

.goToRight {
    float: right;
    margin-right: -200px;
}

.extraDiv7 {
    width: 880px;
    height: 1440px;
    margin-top: -480px;
    margin-left: 260px;
    background: url(images/background.png) no-repeat;
}

.extraDiv6 {
    background: url(images/lenta-web.jpg);
    width: 880px;
    height: 24px;
    margin-left: 260px;
    position: relative;
    display: block;

}

.extraDiv8 {
    background-image: url(images/logos/KB-logo-down_mk.gif);
    width: 174px;
    height: 30px;
    margin-left: 260px;
}

.kreditniKartichki p, .kreditniKartichki ul {
    padding: 5px;
}

.phone13 {
    background-image: url(images/phone13.png);
    width: 400px;
    height: 400px;
    margin-left: 770px;
    margin-top: -550px;
    margin-bottom: 270px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone14 {
    background-image: url(images/phone14.png);
    width: 400px;
    height: 400px;
    margin-left: 770px;
    margin-top: -320px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone15 {
    background-image: url(images/phone15.png);
    width: 450px;
    height: 450px;
    float: right;
    margin-top: -310px;
    margin-right: -330px;
    z-index: -1;
    position: relative;
    display: block;
}

.phone16 {
    background-image: url(images/phone16.png);
    width: 450px;
    height: 450px;
    float: right;
    margin-top: -310px;
    margin-right: -330px;
    z-index: -1;
    position: relative;
    display: block;
}

.kreditniKartichki ul li {
    text-align: justify;
    padding: 5px;
}

.phone17 {
    background-image: url(images/phone17.png);
    width: 450px;
    height: 450px;
    float: right;
    margin-top: -180px;
    margin-right: -280px;
    z-index: 1;
    position: relative;
    display: block;
}

.phone18 {
    background-image: url(images/phone18.png);
    width: 450px;
    height: 450px;
    float: right;
    margin-top: -180px;
    margin-right: -280px;
    z-index: 1;
    position: relative;
    display: block;
}

.phone19 {
    background-image: url(images/phone19.png);
    width: 450px;
    height: 450px;
    z-index: 1;
    position: relative;
    display: block;
    margin-left: 300px;
}

.limitDevices {
    margin-left: 250px;
}

.phone20 {
    background-image: url(images/phone20.png);
    width: 450px;
    height: 450px;
    float: right;
    margin-top: -410px;
    margin-right: -350px;
    z-index: 1;
    position: relative;
    display: block;
}

.phone21 {
    background-image: url(images/phone21.png);
    width: 450px;
    height: 450px;
    float: right;
    margin-top: -230px;
    margin-right: -320px;
    z-index: 1;
    position: relative;
    display: block;
}

.phone22 {
    background-image: url(images/phone22.jpg);
    width: 321px;
    height: 322px;
    float: right;
    margin-top: -230px;
    margin-right: -330px;
    z-index: 1;
    position: relative;
    display: block;
}

.phone23 {
    background-image: url(images/phone23.jpg);
    width: 616px;
    height: 91px;
    margin-left: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 1;
    position: relative;
}

.phone24 {
    background-image: url(images/phone24.jpg);
    width: 414px;
    height: 276px;
    z-index: 1;
    position: relative;
    margin-left: 450px;
    margin-top: 30px;
}